.aktivitetCard {
background-color:#fff;
border-radius: 16px;
overflow: hidden;
text-align: center;
box-shadow: 0 4px 12px rgb(0,0,0,0.1);


.text-container {
    background-color: #e5afe5;
    color: #000;
    padding: 1rem;
    text-align: start;
}
}